beautifulsoup4                     4.7.0      
bs4                                0.0.1      
Flask                              1.0.2      
nltk                               3.4        
spacy                              2.0.18     
sumy                               0.7.0      
thinc                              6.12.1     
urllib3                            1.24.1 
gensim                             3.6.0      
gensim-sum-ext                     0.1.2    