<!DOCTYPE html>
<html>
<head>
	<title>Embedding ML in Express</title>
	 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
	<div class="showcase container purple lighten-3">
    <div class="row">
        <div class="col 12 m10 offset-ml center">
            <h2>Machine Learning Web App  with Express.js </h2>
            <p>ML Web App</p>
            <a href="/" class="btn btn-small purple white-text waves-effect waves-dark">Reset</a>
        </div>

    </div>
</div>



	<section class="section ">
    <div class="container">
      <div class="row">
             <div class="col s12">
              <div class="card-panel grey lighten-4 grey-text text-darken-4 z-depth-0">
                <form method="POST" action="/predict">
					<div class="input-field">
						
						<input type="text" name="message">
						<label>Message</label>
					</div>
				<input type="submit" value="Predict" class="btn btn-small purple waves-effect waves-light btn-extend">
                  <input type="reset" value="Clear" class="btn btn-small white waves-effect waves-light btn-extend">
			</form>
   			 </div>
        </div>
    </div>
</div>
  </section>

</body>
</html>